# Builds
*.gem

# Documentation
.yardoc
doc/*
!doc/yard_extensions.rb

# Bundler
.bundle
bin/*
!bin/recurly

# Gems should not checkin lock files
# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock

TODO
