language: ruby
script:
  - bundle exec rake spec
  - gem build recurly.gemspec
cache: bundler
sudo: false
rvm:
  - jruby
  - 1.9.3
  - 2.0.0
  - 2.1.0
env:
  - XML=rexml
  - XML=nokogiri
matrix:
  allow_failures:
    - rvm: jruby-19mode
      env: XML=nokogiri
